.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 28px;
}
.navItems {
  display: flex;
  gap: 10px;
}
.navAvatar{
  display: flex;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
}
.navAvatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  font-weight: 500;
}
.item {
  display: flex;
  align-items: center;
  position: relative;
}
.counter {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}

.notifications {
  position: absolute;
  top: 30px;
  right: -94px;
  background-color: white;
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1;
  width: max-content;
}

.notification {
  padding: 5px;
  font-size: 14px;
}